{snippet lazyComponent_snippet}
    {snippetArea lazyComponent_snippetArea}
        {if $loaded}
            {include $lazyTemplate}
        {else}
            {include $emptyTemplate}
        {/if}
    {/snippetArea}
{/snippet}
