{snippet lazyComponent_snippet}
    {if $loaded}
        {include $lazyTemplate}
    {else}
        <div class="p-5 d-flex justify-content-center align-items-center">{icon spinner, type => 'r', spin => true}</div>
    {/if}
{/snippet}
