{snippet lazyComponent_snippet}
    {snippetArea lazyComponent_snippetArea}
        {if $loaded}
            {include $lazyTemplate}
        {else}
            <div class="p-5 d-flex justify-content-center align-items-center">{icon spinner, type => 'r', spin => true}</div>
        {/if}
    {/snippetArea}
{/snippet}
